html{
          touch-action: manipulation;   
		
		
            
		}


        
    



        
	 
        .button {
            display: inline-grid;
		width: 20%;
		padding: 2%;
        opacity: 1;    
		
		
            
		}
        
        
        
        
        .button.active {
          opacity: 1;
          
            
        }
        
#container {display: none; margin: auto;}
#alert {display: none;}	    
@media all and (orientation:landscape) {
    #container {
	    
	    display: block;
	    
	   max-width:85%;
        
	    
	    
	    
	    
	    
         
    }
}
	    @media all and (orientation:portrait) {
    #alert {
	    width: 100%;
	    height:100%;
	    
	    
  display:flex;
  align-items:center;
  justify-content:center;
       
    }
}
    